services:
  # Web server con PHP
  web:
    build: .
    container_name: apache_server
    ports:
      - "5000:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  # Database MySQL
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: f1_db
    volumes:
      - db_data:/var/lib/mysql
      - ./database:/docker-entrypoint-initdb.d

  # Strumento grafico per il DB
  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
    depends_on:
      - db

volumes:
  db_data: