/* =========================
   RESET & GLOBAL
   ========================= */

* {
    margin: 0;
    border: 0;
}

html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
}

body {
    color: var(--content-text-color);
    font-size: 100%;
    line-height: 1.5em;
    margin: 0 auto;
}

header {
    padding: 0;
}

h1,
h2,
h3 {
    text-align: center;
    
}

h1.hide{
    content: url(../resources/logo.svg);
    height: 48pt;
    width: 100%;
}

main .title-f1 {
    font-size: 2em;
    margin-bottom: 0.4em;
    border-top: 0.07em solid var(--accent-color);
    border-bottom: 0.07em solid var(--accent-color);
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

a {
    color: var(--content-text-color);
    text-decoration: underline;
}

section {
    break-inside: avoid;
}
/* non serve
a:link:after, a:visited:after {
    content: "[" attr(href) "]";
    font-size: 90%;
    color: var(--content-text-color);
}
*/
/* =========================
   GLOBAL COLORS
   ========================= */

:root {
    --content-text-color: #000000;
    --footer-text-color: #000000;
    --accent-color: #E10600;
    --quote-border-color: #E10600;
    --breadcrumb-border-color: #999999;
    --page-background-color: #FFFFFF;

    /*  COLORI DA USARE PER SCUDERIE/PILOTI */

    --ferrari-color: #C62000;
    --redbull-color: #0600EF;
    --mclaren-color: #A35600;
    --mercedes-color: #007064;
    --alpine-color: #0061BA;
    --astonmartin-color: #006A3A;
    --williams-color: #0082FA;
    --haas-color: #212121;
    --racingbulls-color: #0059B3;
    --sauber-color: #007300;
    --superstar-color: #A67C00
}

/* =========================
   BREADCRUMB
   ========================= */
#breadcrumb {
    color: var(--content-text-color);
    border-top: 1pt solid var(--breadcrumb-border-color);
    border-bottom: 1pt solid var(--breadcrumb-border-color);
}

/* =========================
   MENU
   ========================= */
#menu {
    display: none;
}
/* =========================
   FOOTER
   ========================= */
.footer-container{
    display: none;
}

/* =========================
   FOOTER BOTTOM
   ========================= */
.footer-bottom {
    text-align: center;
    padding: 1.25em;
    color: var(--footer-text-color);
}

.disclaimer {
    font-size: 0.75em;
    margin-top: 0.4em;
}

/* =========================
   INDEX PAGE
   ========================= */
#content{
    padding-bottom: 2em;
}

#content h2 {
    border-top: 0.07em solid var(--accent-color);
    border-bottom: 0.07em solid var(--accent-color);
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-top: 0.4em;
    margin-bottom:0.5em;
}
#content section{
    margin-top: 1em;
}

#content img{
    display: none;
}

.aboutus blockquote{
    border-left: 0.2em solid var(--quote-border-color);
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0.5em;
    font-style: italic;
}

/* =========================
   PILOTI PAGE
   ========================= */
.piloti{
    padding-bottom: 2em;
    margin-left: 0;
    padding-left: 0;
}

.piloti article{
    position: relative;
    overflow: hidden;
}
.piloti ul{
    display:flex;
    flex-wrap: no-wrap;
    justify-content: center;
    gap: 10%;
    list-style: none;
}

.piloti li{
    flex: 0 0 40%;
    border: 0;
    margin: 0;
}

.piloti img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.piloti article h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5em;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    color: var(--content-text-color);
    background-color: var(--page-background-color);
    border: 1pt solid var(--content-text-color);
    z-index: 2;
}

/* =========================
   SCUDERIE PAGE
   ========================= */
#scuderie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

#scuderie h2 {
    width: 100%;
}

.team {
    flex: 0 0 40%;
    margin-bottom: 2em;
}

.team img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.team h3 {
    text-align: center;
    margin-bottom: 0.5em;
}

/* =========================
   PILOTA/SCUDERIE/GARE DETAIL PAGE
   ========================= */
#info-piloti, #info-scuderie, #gare {
    width: 60%;
    margin: 0 auto;
    padding: 2em 1.25em;
}

#info-piloti section, #info-scuderie section, #gare section {
    border: 0.15em solid var(--content-text-color);
    border-radius: 0.5em;
    padding: 2em;
    margin-bottom: 2em;
    position: relative;
    overflow: hidden;
}

#info-piloti section h3, #info-scuderie section h3, #gare section h3 {
    text-align: left;
    color: var(--content-text-color);
    text-transform: uppercase;
    font-size: 1.4em;
    margin-bottom: 1.5em;
    border-bottom: 0.1em solid var(--accent-color);
    padding-bottom: 0.4em;
}

#info-piloti dl, #info-scuderie dl, #gare dl {
    display: grid;
    grid-template-columns: 15em 1fr;
    gap: 1em;
}

#info-piloti dt, #info-scuderie dt, #gare dt {
    font-weight: bold;
    color: var(--footer-text-color);
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
}

#info-piloti dd, #info-scuderie dd, #gare dd {
    margin: 0;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--content-text-color);
}

#info-scuderie section.piloti ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}
#info-scuderie section.piloti li {
    width: 30em;
    padding: 1em;
}

#info-scuderie section.piloti article {
    position: relative;
    overflow: hidden;
}

#info-scuderie section.piloti article img {
    width: 10em;
    height: 10em;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* =========================
   CLASSIFICA PAGE
   ========================= */

.tabs-navigation {
    display: none;
}

#summary_piloti, #summary_scuderie {
    display: none;
}

.classifica_piloti, .classifica_costruttori {
    margin-left: 5%;
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 2em;
    text-align: center;
}

.classifica_costruttori caption,
.classifica_piloti caption {
    font-size: x-large;
    margin: 0.5em;
}
.classifica_piloti th,
.classifica_costruttori th {
    font-size: larger;
}

.classifica_costruttori thead, .classifica_piloti thead {
    border-bottom: 2pt solid var(--accent-color);
}

.classifica_piloti tbody th, .classifica_costruttori tbody th {
   text-decoration: underline;
}

.classifica_piloti tbody tr, .classifica_costruttori tbody tr {
    padding: 0.5em;
    border-bottom: 1pt solid var(--content-text-color);
}
/* =========================
   GARE PAGE
   ========================= */

.gp {
    display: flex;
    border: 1pt solid var(--content-text-color);
    margin: 12pt;
    break-inside: avoid;
}

.gp h2 {
    text-align: center;
    border-bottom: 0.07em solid var(--accent-color);
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.gp div{
    margin-right: 1em;
    margin-left: 1em;
    padding-bottom: 0.4em;
}

.gp p{
    text-align: center;
    padding-bottom: 0.4em;
}

.gp form{
    display: none;
}

.gp img {
    max-width: 20%;
    height: auto;
}

.gp dl {
    display: block;
}

.gp dt, .gp dd{
    display: inline-block;
    vertical-align: top;
}

.gp dt {
    width: 30%;
    font-weight: bold;
}

.gp dd, .gp dd a {
    width: 65%;
    text-decoration: none;
}

/* =========================
   CIRCUITI PAGE
   ========================= */

.circuiti {
    display: flex;
    margin: 12pt;
    break-inside: avoid;
    border: 1pt solid var(--content-text-color);
}

.circuiti h2 {
    text-align: center;
    border-bottom: 0.07em solid var(--accent-color);
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.circuiti div{
    width: 75%;
    margin-right: 1em;
    margin-left: 1em;
    padding-bottom: 0.4em;
}

.circuiti img {
    max-width: 20%;
    height: auto;
}

.circuiti dl {
    display: block;
}

.circuiti dt, .circuiti dd{
    display: inline-block;
    vertical-align: top;
}

.circuiti dt {
    width: 30%;
    font-weight: bold;
}

.circuiti dd{
    width: 65%;
}

/* =========================
   LOGIN & REGISTRAZIONE PAGES
   ========================= */

#login_form,
#signup_form {
    border: 1pt solid var(--content-text-color);
    border-radius: 0.5em;
    padding: 2em;
    max-width: 28em;
    margin: 2em auto;
    box-sizing: border-box;
}

#signup_main h1,
#signup_main p,
#login_main h1,
#login_main p {
    text-align: center;
}

#login_form legend,
#signup_form legend {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--content-text-color);
  margin-bottom: 1em;
}


#login_form ul,
#signup_form ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#login_form li,
#signup_form li {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

#login_form label,
#signup_form label {
    font-weight: bold;
    margin-bottom: 0.5em;
    color: var(--content-text-color);
}

#login_form input[type="text"],
#login_form input[type="email"],
#login_form input[type="password"],
#signup_form input[type="text"],
#signup_form input[type="email"],
#signup_form input[type="password"],
#login_form input[type="date"],
#signup_form input[type="date"]  {
    padding: 0.6em 0.8em;
    font-size: 1em;
    border: 1pt solid var(--content-text-color);
    border-radius: 0.3em;
    color: var(--content-text-color);
    width: 100%;
    box-sizing: border-box;
}

#login_form input[type="submit"],
#signup_form input[type="submit"],
#modifica-anagrafica input[type="submit"],
#modifica-username input[type="submit"],
#modifica-password input[type="submit"] {
  display: block;
  width: 100%;
  padding: 0.8em;
  font-size: 1em;
  font-weight: bold;
  color: var(--accent-color);
  border: 1pt solid var(--accent-color);
  border-radius: 0.3em;
  margin-top: 1em;
}


/* =========================
   AREA RISERVATA PAGE
   ========================= */

   .area_utente_info, 
.area_utente_modifica, 
.area_utente_commenti, 
.area_utente_logout {
    width: 80%;
    margin: 2em auto;
    padding: 1.5em;
    border: 0.1em solid var(--content-text-color);
    border-radius: 0.5em;
}

.area_utente_info h3, 
.area_utente_modifica h3, 
.area_utente_commenti h3, 
.area_utente_logout h3,
.azioni_admin h3 {
    text-align: left;
    color: var(--accent-color);
    border-bottom: 0.1em solid var(--accent-color);
    padding-bottom: 0.3em;
    margin-bottom: 1em;
    font-size: 1.5em;
    text-transform: uppercase;
}

.area_utente_logout #logout-container {
    display: flex;
    align-items: center;
    gap: 1em;
}

.area_utente_logout #logout-container .btn-logout,
.area_utente_logout #logout-container .btn-delete {
    display: inline-block;
    width: 100%;
    padding: 0.8em;
    font-size: 1em;
    font-weight: bold;
    color: var(--accent-color);
    border: 0.15em solid var(--accent-color);
    border-radius: 0.3em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em;
    text-decoration: none;
}

/* --- Info Personali --- */
.area_utente_info dl {
    display: block;
    grid-template-columns: 12em 1fr;
    gap: 0.8em;
}

.area_utente_info dt, .area_utente_info dd {
    display: inline-block;
    vertical-align: top;
}

.area_utente_info dt {
    font-weight: bold;
    color: var(--accent-color);
    width: 30%;
}

.area_utente_info dd {
    color: var(--content-text-color);
    width: 65%;
}

/* --- Modifica Dati Personali --- */

.area_utente_modifica fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

#modifica-anagrafica legend {
    display: none; 
}

.area_utente_modifica ul {
    list-style: none;
    padding: 0;
}

.area_utente_modifica li {
    margin-bottom: 1.2em;
}

.area_utente_modifica label {
    display: block;
    margin-bottom: 0.4em;
    font-weight: bold;
}

.area_utente_modifica input {
    width: 100%;
    padding: 0.7em;
    border: 0.1em solid var(--content-text-color);
    border-radius: 0.3em;
    color: var(--content-text-color);
    box-sizing: border-box;
}

/* --- Modifica user/password --- */

.area_utente_modifica fieldset legend,
.area_utente_modifica form legend {
    text-align: left;
    color: var(--accent-color);
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    padding-bottom: 0.3em;
    margin-bottom: 1em;
    font-size: 1em;
}

/* --- Commenti --- */

.area_utente_commenti .comment-list {
    list-style: none;
}

.commento-card {
    border: 1pt solid var(--content-text-color);
    border-radius: 0.5em;
    padding: 1em;
    margin-bottom: 1em;
}

.commento-card h3 {
    font-size: 0.9em;
    color: var(--accent-color);
}

.comment-date {
    font-size: 0.85em;
    color: var(--footer-text-color);
    margin-bottom: 0.8em;
}

.comment-content {
    font-size: 12pt;
    font-style: italic;
}

/* --- Bottoni --- */

.btn-logout, .btn-admin, button[type="submit"], #open-delete-modal {
    display: inline-block;
    padding: 0.8em 1.5em;
    font-weight: bold;
    border-radius: 0.3em;
    text-transform: uppercase;
    border: 0.1em solid var(--accent-color);
    color: var(--accent-color);
    margin-top: 1em;
}

/* =========================
   AREA ADMIN PAGE
   ========================= */

.azioni_admin {
    width: 80%;
    padding: 1.5em;
    margin: 2em auto;
    border: 0.1em solid var(--content-text-color);
    border-radius: 0.5em;
}

.azioni_admin a.btn-admin-action {
    display: inline-block;
    width: 50%;
    padding: 0.8em;
    font-size: 1em;
    font-weight: bold;
    color: var(--accent-color);
    border: 0.1em solid var(--accent-color);
    border-radius: 0.3em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em;
    text-decoration: none;
}

/* =========================
   FORM PAGES
   ========================= */

/* --- Form Gestione Utenti --- */

#form-utenti-elimina,
#form-utenti-aggiungi,
.crea-gare-section,
.elimina-gare-section,
.crea-classifica-section {
    border: 0.1em solid var(--content-text-color);
    border-radius: 0.5em;
    padding: 2em;
    width: 80%;
    margin: 2em auto;
}

#form-utenti-elimina legend,
#form-utenti-aggiungi legend,
.crea-gare-section legend,
.elimina-gare-section legend,
.crea-classifica-section legend {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--accent-color);
    text-decoration: underline;
}

#form-utenti-elimina label,
#form-utenti-aggiungi label,
.crea-gare-section label,
.elimina-gare-section label,
.crea-classifica-section label {
    font-weight: bold;
    margin-bottom: 0.5em;
    display: block;
    color: var(--content-text-color);
}

#form-utenti-elimina input,
#form-utenti-aggiungi input,
.crea-gare-section input,
.elimina-gare-section input,
.crea-classifica-section input {
    width: 100%;
    padding: 0.6em;
    font-size: 1em;
    border: 1pt solid var(--content-text-color);
    border-radius: 0.3em;
    color: var(--content-text-color);
    box-sizing: border-box;
}

#form-utenti-aggiungi select,
.crea-classifica-section select,
.crea-gare-section select {
    border: 0.1em solid var(--content-text-color);
    border-radius: 0.3em;
}

.crea-classifica-section select,
.crea-gare-section select{
    width: 100%;
}

#form-utenti-aggiungi button,
#form-utenti-elimina button,
.crea-gare-section button,
.elimina-gare-section button,
.crea-classifica-section button {
    display: block;
    width: 100%;
    padding: 0.8em;
    font-size: 1em;
    font-weight: bold;
    color: var(--accent-color);
    border: 0.1em solid var(--accent-color);
    border-radius: 0.3em;
    margin-top: 1em;
}

.crea-classifica-section  ul{
    list-style: none;
}

[aria-label="Aggiungi o diminuisci punti"] {
    display: flex;
    align-items: center;
    flex-direction: row; 
    gap: 1.5em;          
    margin-top: 0.5em;
}

.crea-classifica-section li {
    display: flex;
    align-items: center;
    gap: 1em;
}

.crea-classifica-section li label {
    margin-top: 0.5em;
}
#form-modifica-punti-pilota input[type="radio"] {
    appearance: none;
    position: relative;
    width: 1.4em;
    height: 1.4em;
    border: 0.15em solid var(--accent-color);
    border-radius: 50%;
    margin: 0;
}
